---
import Header from '../components/01_Header.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import wp from '../lib/wordpress.js'; 
import ArtikelKlein from '../components/ArtikelKlein.astro';

export async function getStaticPaths() {
    const posts = await wp.posts().perPage(); // Haalt alle berichten op van de WordPress API

    const paths = posts.map(post => ({
        params: { slug: post.slug } // Genereert een array voor elke post, gebaseerd op de 'slug'
    }));

    return paths;
}

const { slug } = Astro.params; // Haalt de 'slug' op uit de URL-parameters
const posts = await wp.posts().perPage(); // Haalt alle berichten op van de WordPress API
const post = posts.find(p => p.slug === slug); // Vindt de post die overeenkomt met de slug
---

<Layout title={slug}>


<Header />

<main>
    {post ? (
        <article>
            <h1>{post.title.rendered}</h1>
            <p>door {post.yoast_head_json?.author || "Onbekende auteur"}</p>
            <p>{post.excerpt.rendered}</p>
        </article>
    ) : (
        <p>Geen post beschikbaar</p> 
    )}
</main>

<div class="artikel-klein">
<ArtikelKlein/>
</div>

<Footer />

<style>

    main {
        max-width: var(--article-width);
        padding: 0 1em;
    }

    article {
        margin-top: 2em;
    }

    .artikel-klein{
        align-items: center;
        display: flex;
        justify-content: center;
    }
</style>