---
import Layout from '../layouts/Layout.astro';
import Header from '../components/01_Header.astro';
import Voorpagina from '../components/02_Voorpagina.astro'
import Footer from '../components/Footer.astro'




const dateFormat = {
	month: 'short',
	day: 'numeric',
};
---

<Layout title="Red Pers">
<header>
	<Header/>
</header>

<main>
<Voorpagina/>
</main>



<footer>
	<Footer />
</footer>
		
		<style>

		</style>