<section class="front-pagina"> hier wil ik een groot artikel en een grote afbeelding
    <section class="onder-front">hier wil ik 3 artikelen</section>
</section>

<section class="donatie"></section>
<section class="binnenland"></section>
<section class="buitenland"></section>




